In [1]:
import json
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
import joblib

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/pplonski/datasets-for-start/master/adult/data.csv', skipinitialspace=True)

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
y_all = df['income']
X_all = df.drop('income', axis=1)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=0.3, random_state=1234)

In [6]:
train_mode = dict(X_train.mode().iloc[0])

In [7]:
print(train_mode)

{'age': 31.0, 'workclass': 'Private', 'fnlwgt': 121124, 'education': 'HS-grad', 'education-num': 9.0, 'marital-status': 'Married-civ-spouse', 'occupation': 'Prof-specialty', 'relationship': 'Husband', 'race': 'White', 'sex': 'Male', 'capital-gain': 0.0, 'capital-loss': 0.0, 'hours-per-week': 40.0, 'native-country': 'United-States'}

In [8]:
joblib.dump(train_mode, '../artifacts/train_mode.joblib', compress=True)

['../artifacts/train_mode.joblib']

In [9]:
X_train = X_train.fillna(train_mode)

In [10]:
encoders = {}

encode_cols = [
    'workclass', 
    'education', 
    'marital-status',
    'occupation', 
    'relationship', 
    'race',
    'sex',
    'native-country'
]

for col in encode_cols:
    cat_convert = LabelEncoder()
    encoders[col] = cat_convert
    X_train[col] = cat_convert.fit_transform(X_train[col])

In [11]:
print(encoders)

{'workclass': LabelEncoder(), 'education': LabelEncoder(), 'marital-status': LabelEncoder(), 'occupation': LabelEncoder(), 'relationship': LabelEncoder(), 'race': LabelEncoder(), 'sex': LabelEncoder(), 'native-country': LabelEncoder()}

In [12]:
joblib.dump(encoders, '../artifacts/encoders.joblib', compress=True)

['../artifacts/encoders.joblib']

In [13]:
rf = RandomForestClassifier(n_estimators=100)
rf = rf.fit(X_train, y_train)

In [14]:
joblib.dump(rf, '../artifacts/rf_classifier.joblib', compress=True)

['../artifacts/rf_classifier.joblib']

In [15]:
et = ExtraTreesClassifier(n_estimators=100)
et = et.fit(X_train, y_train)

In [16]:
joblib.dump(et, '../artifacts/et_classifier.joblib', compress=True)

['../artifacts/et_classifier.joblib']